
.loginForm {
	margin-top: 30px;
}
.formGroup label {
	color: #5D636C;
	font-size: 14px;
	display: block;
	line-height: 20px;
	margin-bottom: 4px;
}
.actionButton {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
.loggingIn {
	text-align: center;
	margin-top: 50px;
	font-size: 18px;
}
.logginError {
	margin: 15px 0;
	color: red;
}
