.inner {
	max-width: 800px;
	margin: 0 auto;
}

.header {
	height: 52px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background: white;
}

.header .inner {
	display: flex;
	height: 100%;
	align-items: center;
	padding: 14px;
}

.headerName {
	flex: 1 1 auto;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #1F252E;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.headerTitle {
	margin-left: 10px;
}

.headerUser {
	display: block;
	flex: 0 0 36px;
	height: 36px;
	width: 36px;
	border-radius: 18px;
	background: #DBEDE2;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	line-height: 36px;
	text-decoration: none;
	color: black;
}

.main {
	min-height: 100vh;
	padding: 24px;
	padding-top: 74px;
	position: relative;
	z-index: 1;
}

.main .inner {
	position: relative;
	min-height: calc(100vh - 98px);
}
