.formStep {
	min-height: 160px;
	display: none;
	text-align: center;
}
.formStep.active {
	display: block;
}
.signupForm {
	margin-top: 24px;
}
.formGroup + .formGroup {
	margin-top: 20px;
}
.formGroup label {
	color: #5D636C;
	font-size: 14px;
	display: block;
	line-height: 20px;
	margin-bottom: 4px;
}
.actionButton {
	margin-top: 20px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
.steps {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.creatingAccount {
	text-align: center;
	margin-top: 50px;
	font-size: 18px;
}

.actionButtons {
	flex: 1 1 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 36px;

	&.single {
		justify-content: center;
	}
}

.skipInto {
	color: #DB780B;
}

.finishButtonWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 36px;
}
