@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

body {
  margin: 0;
  font-family: "Assistant", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
	box-sizing: border-box;
}

a {
	color: #ED7200;
	text-decoration: none;
}

h1 {
	margin: 0 autoo 12px;
	color: #1F252E;
	font-size: 28px;
	line-height: 40px;
	text-align: center;
	font-weight: 700;
}

.homeVisual {
	margin: 0 auto 18px;
}

.pageWrapper {
	text-align: center;
}

.illustration {
	display: block;
	margin: 0 auto 12px;
}

.fallTimeWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fallHeader {
	color: #DA1E28
}

.fallTime {
	margin-left: 6px;
}

p {
	margin: 0;
	font-size: 16px;
	line-height: 24px;
	color: #2F3744;
}

.finishButon {
	margin-top: 36px;
}
